<h1>Edit <%= @bear.name %></h1>
<form action="/bears/<%= @bear.id %>" method="POST"> 
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h2>
    <label for="name">Name:</label> 
    <input type="text" name="Name" id="name"
    value="<%= @bear.name %>">
  </h2>

  <h2>
    <label> Species: </label>
  </h2>
  <p>
    <input type="radio" name='species' value='Ursus Americanus'
      <% if @bear.species == "Ursus Americanus" %>
        checked
      <% end %>
      > North American Black Bear: Ursus Americanus <br>
    <input type="radio" name='species' value='Ursus Arctos'
      <% if @bear.species == "Ursus Arctos" %>
        checked
      <% end %>
      > Brown Bear: Ursus Arctos  <br>
  </p>

  <h2>
    <label> Sex: </label>
  </h2>
  <p>
    <input type="radio" name='sex' value='Male'
      <% if @bear.sex == "Male" %>
        checked
      <% end %>
    > Male <br>
    <input type="radio" name='sex' value='Female without cubs'
      <% if @bear.sex == "Female without cubs" %>
        checked
      <% end %>
    > Female without cubs <br>
    <input type="radio" name='sex' value='Female with cub(s)'
      <% if @bear.sex == "Female with cub(s)" %>
      checked
      <% end %>
    > Female with cub(s) <br>
  </p>

  <h2>Age: <input id="age" type="text" name="age"
    value="<%= @bear.age %>"></h2>

  <h2>
    <label> Health Status: </label>
  </h2>
  <p>
    <input type="radio" name="health_status" id="healthy"
      value="Healthy"
      <% if @bear.health_status == "Healthy" %>
      checked
      <% end %>
    > Healthy <br>
    <input type="radio" name="Health_status" id="fair"
      value="Fair"
      <% if @bear.health_status == "Fair" %>
      checked
      <% end %>
    > Fair <br>
    <input type="radio" name="health_status" id="sick_underweight"
      value="Sick_underweight"
      <% if @bear.health_status == "Sick_underweight" %>
      checked
      <% end %>
    > Sick or Underweight
  </p>

  <h2>
    <label> Habituation Status: </label>
  </h2>
  <p>
    <input type="radio" name="habituation_status" id="no"
      value="No"
      <% if @bear.habituation_status == "No" %>
      checked
      <% end %>
    > No signs of habituation to people <br>
    <input type="radio" name="habituation_status" id="yes"
      value="Yes"
      <% if @bear.habituation_status == "Yes" %>
      checked
      <% end %>
    > Signs of habituation or aggression to people <br>
  </p>

  <input id="edit_bear" value="Edit Bear" type="submit">

</form>
