<h1>Edit <%= @bear.name %></h1>

<form action="/bears/<%= @bear.id %>" method="POST"> 
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label> 
  <input type="text" name="bear[name]" id="name"
  value="<%= @bear.name %>">
