<h2> Currently tagged bears: </h2>
  <% if @bears.length < 1 %>
    You have not tagged any bears yet.
  <% else %>
    <% @bears.each do |bear| %>
      <p>
        <b>Bear Name: </b> <%=bear.name%>
      <br>
        <b>Bear Location: </b>
        <% if bear.ranger_id != nil
            ranger = Ranger.find(bear.ranger_id) %>
            <%= Park.find(ranger.park_id).name %>
        <% end %>
      <br>
        <b>Bear ID: </b> <%= bear.id %>
      </p>
    <% end %>
  <% end %>

<p>
<a href="/bears/new"> Tag New Bear</a>
</p>
