
<h2> Currently tagged bears: </h2>
  <% if @bears.length < 1 %>
    You have not tagged any bears yet.
  <% else %>
    <% @bears.each do |bear| %>
      <p>
        <b>Bear Name: </b> <%=bear.name%>
      <br>
        <b>Bear ID: </b> <%= bear.id %>
      <br>
      <a href="/bears/<%= bear.id %>"> More Info</a>
      </p>
    <% end %>
  <% end %>

<p>
<a href="/bears/new"> Tag New Bear</a>
</p>

<img src="https://res.cloudinary.com/karlymareka/image/upload/v1569462070/bear-cubs-50137_1280"
  alt="black bear" style="width:500px;">
