<br>
<div style="flash red">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<h1> Tag New Bear </h1>
<form action="/bears" method="post">
  <h2>Name: <input id="name" type="text" name='name'></h2>

  <h2>Species: </h2>
    <p>
      <input type="radio" name='species' value='Ursus Americanus'>
        North American Black Bear: Ursus Americanus
    </p>
    <p>
      <input type="radio" name='species' value='Ursus Arctos'>
        Brown Bear: Ursus Arctos
    </p>

  <h2>
    <label> Sex: </label>
  </h2>
  <p>
    <input type="radio" name='sex' value='Male'> Male <br>
    <input type="radio" name='sex' value='Female without cubs'> Female without cubs <br>
    <input type="radio" name='sex' value='Female with cub(s)'> Female with cub(s) <br>
  </p>

  <h2>Age: <input id="age" type="text" name='age'></h2>

  <h2>
    <label> Health Status: </label>
  </h2>
  <p>
    <input type="radio" name="health_status" id="healthy"
      value="Healthy"> Healthy <br>
    <input type="radio" name="health_status" id="fair"
      value="Fair"> Fair <br>
    <input type="radio" name="health_status" id="sick_underweight"
      value="Sick_underweight"> Sick or Underweight
  </p>

  <h2>
    <label> Habituation Status: </label>
  </h2>
  <p>
    <input type="radio" name="habituation_status" id="no"
      value="No"> No signs of habituation to people <br>
    <input type="radio" name="habituation_status" id="yes"
      value="Yes"> Signs of habituation or aggression to people <br>
  </p>

  <input id="create_bear" value="Create Bear" type="submit">

</form>

<p>
<img src="https://res.cloudinary.com/karlymareka/image/upload/v1569462070/bear-51106_1280"
  alt="black bear" style="width:500px;">
</p>
