<h1> National Parks: </h1>
<% @parks.each.with_index(1) do |park, index| %>
  <p> <%= index %>. <%= park.name %>, <%= park.state %> </p>
<% end %>

<p>
  <img src="https://res.cloudinary.com/karlymareka/image/upload/v1569533168/yellowstone-4319675_1920"
      alt="yellowstone grand prismatic spring" style="width:500px;">
</p>
