body {
  font-family: 'Nunito', sans-serif;
  color: #004c63;
  text-align: left
}

h1,h2,h3 {
  color: #7f311c;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div {
  color: red;
  font-weight: bold;
}
