<form action="/signup" method="post">

  <h2>Name: <input id="name" type="text" name='name'></h2>

  <h2>Username: <input id="username" type="text" name='username'></h2>

  <h2>Password: <input id="password" type="text" name='password'></h2>

  <h2>
    <label> Park: </label>
  </h2>
  <p>
    <input type="radio" name="park" id="yellowstone"
      value="yellowstone"> Yellowstone National Park <br>
    <input type="radio" name="park" id="glacier"
      value="glacier"> Glacier National Park <br>
    <input type="radio" name="park" id="north_cascades"
      value="north_cascades"> North Cascades National Park
  </p>

  <input id="create_ranger" value="Create Ranger" type="submit">

</form>
