<form action="/signup" method="post">

  <h2>Name: <input id="name" type="text" name='name'></h2>

  <h2>Username: <input id="username" type="text" name='username'></h2>

  <h2>Password: <input id="password" type="text" name='password'></h2>

  <h2>
    <label> Park: </label>
  </h2>
  <p>
    <input type="radio" name="park" id="yellowstone"
      value="Yellowstone National Park"> Yellowstone National Park <br>
    <input type="radio" name="park" id="glacier"
      value="Glacier National Park"> Glacier National Park <br>
    <input type="radio" name="park" id="north_cascades"
      value="North Cascades National Park"> North Cascades National Park
  </p>

  <input id="create_ranger" value="Create Ranger" type="submit">

</form>

<p>
  <img src="https://res.cloudinary.com/karlymareka/image/upload/v1569462927/lake-mcdonald-3933072_1920"
      alt="two park rangers looking out at lake" style="width:500px;">
</p>
