<h1>Ranger Login Below:</h1>
<form action="/login" method="post">
  <p>Username:<input id="username" type="text" name="username"></p>
  <p>Password:<input type="text" name="password"></p>
  <button id="submit" type="submit">Log In</button>
</form>

<p>
  <img src="https://res.cloudinary.com/karlymareka/image/upload/v1569463201/environment-724904_1920"
    alt="hiker on beach in Olympic National Park" style="width:500px;">
