<h2> You have been logged out. <h2>

<p>
  <img src="https://res.cloudinary.com/karlymareka/image/upload/v1569534044/_DSC0555_copy"
      alt="north cascades diablo lake overlook" style="width:500px;">
</p>
