<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bear Tracker</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1> Heading test </h1>
    <p>TESTING 12345</p>

  </body>
</html>
