<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bear Tracker</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/logout">Logout</a>
      <a href="/parks">Parks</a>
      <a href="/bears">Bears</a>
    </div>
    <%= yield %>

  </body>
</html>
